a,
a:hover {
  text-decoration: none;
  color: transparent;
}

#grad {
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(165, 134, 234, 0.1) 69.67%,
      rgba(152, 116, 231, 0.05) 93.45%);
  text-align: center;
  padding: 100px 0 50px;
}

.numero-container {
  width: 80%;
  margin: 0 auto;
}

.hero-text>h1 {
  font-size: 72px;
  font-family: 'TT Commons', sans-serif;
  font-weight: 600;
  color: #04004d;
}

@media all and (max-width:768px) {
  #grad {
    padding: 100px 0 50px;
  }

  .numero-container {
    width: 95%;
    margin: 0 auto;
  }

  .hero-text>h1 {
    font-size: 50px;
  }
}

/* HEADER SECTION */
.header {
  font-family: 'Montserrat',
    sans-serif;
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.header-container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  width: 100%;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-logo {
  max-width: 100%;
  height: 25px;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: 'TT Commons', sans-serif;
  font-size: 17px;
  color: #000;
  letter-spacing: 0.3px;
}

.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #000;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #000;
}

.navbar-expand-lg .navbar-nav {
  align-items: center;
  background: #FBF7FD;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

@media all and (max-width: 991px) {
  .navbar-brand {
    padding-left: 10px;
  }

  .navbar-expand-lg .navbar-nav {
    align-items: flex-start;
    background-color: transparent;
    padding: 10px 0;
    border-radius: 0;
  }

  .header-container {
    max-width: 80rem;
    padding: 0;
  }

  .navbar-expand-lg .navbar-collapse {
    background-color: #fff;
    padding: 10px;
  }

  /* NAVBAR TOGGLE BUTTON */
  .navbar-toggler {
    background: none;
    border: none;
  }

  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: 0;
  }

  .navbar-dark .navbar-toggler {
    color: transparent;
    border-color: transparent;
  }

  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0 4px 0;
    transition: all 0.2s;
  }

  .navbar-dark .navbar-toggler .icon-bar {
    background: #03303B;
  }

  .navbar-toggler .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .navbar-toggler .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  .navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: rotate(0);
  }

  .navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: rotate(0);
  }

  /* NAVBAR TOGGLE BUTTON */
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {}

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

/* ============ desktop view .end// ============ */
/* HEADER SECTION */